
  body {
    background-color: #f6fff6;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color:#C8DBBE;
    border-width: 0.4vw;
    width:5%;
  }

  img {
    height: 20vw
  }
  h1 {color: #425F57; font-size:6vw}
  h3 {color: #425F57;font-size: 3vw}
p{font-size: 2vw}
li{font-size: 2vw}
